section.experience {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.experience__container_title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.experience__section__title {
  text-align: center;
  font-weight: bold;
  font-size: 5rem;
  padding: 2rem 0;
  color: var(--titulo-white-color);
}

.experiencie__box {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 3rem 0;
  margin: 3rem 0;
  background-color: rgba(255, 255, 255, 0.1);
}

.experience__img {
  width: 755px;
  border: 2px solid var(--green-color);
  transition: 0.7s;
}

.experience__info {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 1rem;
  width: 250px;
}

.info__izquierda {
  order: -1;
  align-self: center;
  margin: 1rem;
}

.experience__title {
  font-weight: 700;
  font-size: 22px;
  color: var(--titulo-white-color);
}

.experience__text {
  padding: 1rem 0;
  color: var(--parrafo-semi-white-color);
}

.experience__description {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.experience__boton--repo {
  width: 116px;
  height: 51px;
  border-color: var(--green-color);
  color: var(--green-color);
  transition: 0.7s;
}

.experience__boton--demo {
  width: 116px;
  height: 51px;
  border-color: var(--green-color);
  background-color: var(--green-color);
  color: #ffffff;
  transition: 0.7s;
}

/*Tablet*/
@media screen and (max-width: 768px) {
  .experiencie__box {
    flex-direction: column;
    align-items: center;
  }

  .experience__img {
    width: 100%;
  }

  .experiencie__box {
    text-align: center;
  }

  .experience__description {
    display: flex;
    justify-content: space-between;
  }

  .experience__info {
    width: 40%;
  }

  .info__izquierda {
    order: 1;
  }

  .experience__boton--repo {
    border-radius: 8px;
  }

  .experience__boton--demo {
    border-radius: 8px;
  }
}

/*Mobile*/
@media screen and (max-width: 414px) {
  .experience__info {
    width: 65%;
  }

  .experience__boton--repo {
    width: 90px;
    padding: 0;
  }

  .experience__boton--demo {
    width: 90px;
    padding: 0;
  }
}
