section.hobbies {
  display: flex;
  width: 100%;
  height: 100vh;
}

.hobbies__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 80%;
  margin: auto 0 auto;
  background-color: rgba(255, 255, 255, 0.1);
}

.hobbies__title {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  padding: 2rem 0;
  color: var(--titulo-white-color);
}

.hobbies__line {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.hobbies__items {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hobbies__img {
  display: block;
  width: 100%;
}

.hobbies__all__svg {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
  transition: 0.7s;
}

.hobbies__name {
  text-align: center;
  font-weight: bold;
  color: var(--parrafo-semi-white-color);
  text-shadow: 1.5px 1.5px 1.5px rgb(0, 0, 0);
}

/*Tablet*/
@media screen and (max-width: 768px) {
}

/*Mobile*/
@media screen and (max-width: 414px) {
  .hobbies__container {
    height: 100%;
    margin: 0;
  }

  .hobbies__title {
    padding: 1rem 0 0.5rem;
  }
  .hobbies__line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .hobbies__box {
    padding: 1rem 0 0;
  }
}
