header.menu {
  position: fixed;
  width: 100%;
  height: 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #212121;
  opacity: 1;
  background-image: linear-gradient(
      30deg,
      #000000 12%,
      transparent 12.5%,
      transparent 87%,
      #000000 87.5%,
      #000000
    ),
    linear-gradient(
      150deg,
      #000000 12%,
      transparent 12.5%,
      transparent 87%,
      #000000 87.5%,
      #000000
    ),
    linear-gradient(
      30deg,
      #000000 12%,
      transparent 12.5%,
      transparent 87%,
      #000000 87.5%,
      #000000
    ),
    linear-gradient(
      150deg,
      #000000 12%,
      transparent 12.5%,
      transparent 87%,
      #000000 87.5%,
      #000000
    ),
    linear-gradient(
      60deg,
      #00000077 25%,
      transparent 25.5%,
      transparent 75%,
      #00000077 75%,
      #00000077
    ),
    linear-gradient(
      60deg,
      #00000077 25%,
      transparent 25.5%,
      transparent 75%,
      #00000077 75%,
      #00000077
    );
  background-size: 20px 35px;
  background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
  z-index: 3;
}

.menu__header {
  display: flex;
  align-items: center;
  color: grey;
}

.image__header {
  width: 2rem;
}

.menu__title {
  font-weight: 700;
}

.menu_content {
  display: flex;
  width: 75%;
  flex-direction: column;
}

.menu__list {
  display: flex;
  justify-content: space-around;
}

.menu__button__themes {
  background-color: var(--green-light-color);
  border-radius: 5px;
}

.menu__list__item {
  display: flex;
  font-weight: bold;
}

/* hover predeterminate */
a:hover {
  color: var(--green-light-color);
}

.menu__list__item__icon {
  display: flex;
}

.menu__list_img {
  width: 20px;
  padding-right: 1rem;
}

.menu__list__themes {
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
}

.contacto {
  font-weight: 700;
}

/*Tablet*/
@media screen and (max-width: 768px) {
}

/*Mobile*/
@media screen and (max-width: 414px) {
  header.menu {
    height: 5%;
  }
  .menu__list__item {
    display: none;
  }
}
