.about {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.about__container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 74%;
  height: 60%;
  padding: 0 1rem;
  background-color: rgba(255, 255, 255, 0.1);
}

.about__title {
  padding: 1rem 0;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: var(--titulo-color);
}

.about__paragraph {
  padding: 1rem 0;
  font-size: 1.3rem;
  color: var(--contenido-parrafos-color);
  text-align: justify;
}

.about__img {
  width: 25%;
  height: 25%;
  object-fit: contain;
}

.about__container__soft__skills {
  display: flex;
  flex-direction: column;
  width: 26%;
  height: 60%;
  padding: 0 1rem;
  background-color: rgba(255, 255, 255, 0.1);
}

.abaut__title_soft_skills {
  padding: 1rem 0;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--titulo-color);
}

.about__container__paragraph {
  color: var(--contenido-parrafos-color);
}

.about__list {
  padding: 1rem 0;
}

.about__item {
  font-size: 1.3rem;
}
/*Tablet*/
@media screen and (max-width: 768px) {
  .about {
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
  }

  .about__container {
    width: 100%;
    margin-bottom: 2rem;
  }
  .about__img {
    margin: 15px auto 0px;
  }
  .about__container__soft__skills {
    width: 100%;
    height: 20%;
  }
}

/*Mobile*/
@media screen and (max-width: 414px) {
  .about__paragraph {
    font-size: 1rem;
  }

  .about__item {
    font-size: 1rem;
  }
}
