section.academy {
  display: flex;
  width: 100%;
  height: 100vh;
}
.academy__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 80%;
  margin: auto 0 auto;
  background-color: rgba(255, 255, 255, 0.1);
}
.academy__title {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  padding: 2rem 0;
  color: var(--titulo-color);
}

.academy__courses {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-around;
}

.academy__courses__box {
  display: flex;
  width: 25%;
  justify-content: center;
}

.academy__courses__item__title {
  padding-top: 1rem;
  font-weight: 700;
  color: var(--contenido-parrafos-color);
  text-shadow: 1.5px 1.5px 1.5px rgb(0, 0, 0);
}

.academy__courses__item__subtitle {
  color: var(--contenido-parrafos-color);
  text-shadow: 1.5px 1.5px 1.5px rgb(0, 0, 0);
}

.academy__university {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 1));
}

/*Tablet*/
@media screen and (max-width: 768px) {
  .academy__courses__item__img__logo {
    width: 95%;
  }
}

/*Mobile*/
@media screen and (max-width: 414px) {
  .academy__container {
    height: 100%;
    margin: 0;
  }

  .academy__title {
    padding: 1rem 0 0.5rem;
  }

  .academy__courses {
    display: flex;
    height: 80%;
    flex-direction: column;
    align-items: center;
  }

  .academy__courses__box {
    width: 60%;
    padding: 1rem 0 0;
    text-align: center;
  }

  .academy__courses__item__img__logo {
    width: 50%;
  }
}
